@import "tailwindcss";
body {
    width: 100%;
    background-color:  #000000;
    color: white;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
    
}

:root {
    --card-1 :#b2b2b2;
    --card-2: #ce2017;
    --card-3: #2f2f2f;
}

section {
    position : relative;
    width : 100%;
    height : 100vh;
    padding: 2rem;

}

.intro,.outro {
    text-align: center;
    align-content: center;
}

.sticky {
    display : flex;
    justify-content: center;
    align-items: center;

}
.sticky-header {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50% ,-50%);

}

.card-container {
    position: relative;
    width: 75%;
    display: flex;
    perspective: 1000px;
    transform: translate(40px);
    will-change: width;
}


.card {
    position: relative;
    flex:1;
    aspect-ratio: 5/2;
    transform-style: preserve-3d;
    transform-origin: top;
}

.card-1 {
    border-rotation: 20px 0 0 20px ;
    
}
/* 
.card-2{

} */

.card-3 {
    border-rotation: 0px 20px 20px 0px;
    
}

.card-front , .card-back{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: inherit;
    overflow: none;
}

.card-back{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: rotateY(180deg);
    padding: 2rem;
}
.card-back span {
    position: absolute;
    top: 2rem;
    left: 2rem;
    opacity: 0.4;

}

#card-1 .card-back{
    background-color: red;
}



#card-2 .card-back{
    background-color: green;
}


#card-3 .card-back{
    background-color: blue;
}

@media (max-width : 1000px){
    .sticky{
        height: max-content;
        padding: 4rem 2rem;
        flex-direction: column;
    }
    .sticky-header{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin-bottom: 2rem;
    }


}